# Node / Next
node_modules/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Python
.venv/
__pycache__/
*.pyc

# Data / DB
data/
*.db

# Misc
*.log
